<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="card-panel red" style="color:white">
      <strong>
      <p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>
      </strong>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions btn waves-effect waves-light">
    <%= form.submit %>
  </div>
<% end %>
