<h4><%= @user.id %>.</h4>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<%= link_to 'Edit', edit_user_path(@user),  class: 'btn waves-effect waves-light' %> 
<%= link_to 'Back', users_path,  class: 'btn waves-effect waves-light' %>
