<%= form_with(model: micropst, local: true) do |form| %>
  <% if micropst.errors.any? %>
    <div id="error_explanation" class="card-panel red">
      <strong>
        <p><%= pluralize(micropst.errors.count, "error") %> prohibited this micropst from being saved:</p>
      </strong>

      <ul>
      <% micropst.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "materialize-textarea" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions btn waves-effect waves-light">
    <%= form.submit %>
  </div>
<% end %>
